header {
  font-family: "Bowlby One";
  color: slategrey;
  border: solid black 7px;
  text-align: center;
  font-weight: bold;
  outline-color: inverse;
}

body {
  font-family: "Source Sans Pro";
  font-weight: bold;
  background: black;
}

.announce {
  text-align: center;
  background: red;
  font-size: larger;
}

.parent {
  display: flex;
  background: green;
  padding: 10px;
  font-family: helvetica;
}

.child {
  border: solid black 5px;
  flex-grow: 1;
  padding: 10px;
  margin: 10px;
  height: 300px;
  line-height: 300px;
  min-width: 300px;
  background: yellow;
  text-align: center;
}

.player1 {
  background: red;
}

.player2 {
background: blue;
}

.middle {
background: green;
}

.jumbotron {
  margin-bottom: .5rem;
  text-shadow: 2px 2px 8px black;
}

#input {
  margin-bottom: 1rem;
}

.chatbox {
  height: 150px;
  width: 50%;
  background-color: black;
}

.announce {
  border-style: double;
  border-width: 8px;
  border-color: black;
}

.red {
  background-color: #f00;
}

.message-display {
  background-color:whitesmoke;
  border-color:black;
  border-width: 1px;
  border-style: groove;
  height: 100%;
  text-align: right;
  padding: 3%;
}

.message-input {
  border-color: black;
  border-width: 1px;
  border-style: groove;
}

.stats {
  color: white;
  font-weight: bold;
}

#p1name {
font-size: 24px;
}

#p2name {
  font-size: 24px;
}